<div class="top-body">
    <div class="row">
        <div class="col-md-10" style="padding-top: 20px;">
            <p class="product-header-slogan">Products</p>
            <h3 class="text-secondary">All the available products in our store</h3>
        </div>
        <div class="col-md-2 text-right">
            <a class="btn btn-light btn-lg" role="button" aria-pressed="true" routerLink="/cart-screen" routerLinkActive="active">
                <i class="fas fa-shopping-cart" style="transform: rotateY(180deg);"></i><span>
                    View Cart
                </span>
            </a>
        </div>
    </div>
</div>
<div class="container product-list">
    <div class="row">
        <!-- Product 1 -->
        <div class="col-md-3 product-item">
            <div class="product">
                <!-- Product Name -->
                <h3 class="product-name">P20 Pro 128GB Dual SIM Twilight</h3>
                <!-- Product Image -->
                <div class="product-image">
                    <img src="assets/images/products/product-1.jpg" class="img-fluid">
                </div>
                <!-- Product Description -->
                <p class="product-description">
                    <small>
                        A smartphone is a handheld personal computer with a mobile opeating system and ...
                    </small>
                </p>
                <!-- Product Price -->
                <p class="product-price text-secondary">899 USD</p>
                <!-- Product Quantity -->
                <p class="product-quantity text-secondary">600 units in stock</p>
                <!-- Product Button -->
                <div class="product-button">
                    <!-- Button Detail -->
                    <a class="product-btn btn-detail" routerLink="/product-detail-screen" routerLinkActive="active">
                        <small>
                            <b>
                                <i class="fas fa-exclamation-circle"></i> Details
                            </b>
                        </small>
                    </a>
                    <!-- Button Order -->
                    <a class="product-btn btn-order" href="#">
                        <small>
                            <b>
                                <i class="fas fa-shopping-cart" style="transform: rotateY(180deg);"></i> Order now
                            </b>
                        </small>
                    </a>
                </div>
            </div>
        </div>
        <!-- Product 2 -->
        <div class="col-md-3 product-item">
            <div class="product">
                <!-- Product Name -->
                <h3 class="product-name">iPhone 8 Plus 64GB PRODUCT RED</h3>
                <!-- Product Image -->
                <div class="product-image">
                    <img src="assets/images/products/product-2.jpg" class="img-fluid">
                </div>
                <!-- Product Description -->
                <p class="product-description">
                    <small>
                        A smartphone is a handheld personal computer with a mobile opeating system and ...
                    </small>
                </p>
                <!-- Product Price -->
                <p class="product-price text-secondary">1009 USD</p>
                <!-- Product Quantity -->
                <p class="product-quantity text-secondary">250 units in stock</p>
                <!-- Product Button -->
                <div class="product-button">
                    <!-- Button Detail -->
                    <a class="product-btn btn-detail" routerLink="/product-detail-screen" routerLinkActive="active">
                        <small>
                            <b>
                                <i class="fas fa-exclamation-circle"></i> Details
                            </b>
                        </small>
                    </a>
                    <!-- Button Order -->
                    <a class="product-btn btn-order" href="#">
                        <small>
                            <b>
                                <i class="fas fa-shopping-cart" style="transform: rotateY(180deg);"></i> Order now
                            </b>
                        </small>
                    </a>
                </div>
            </div>
        </div>
        <!-- Product 3 -->
        <div class="col-md-3 product-item">
            <div class="product">
                <!-- Product Name -->
                <h3 class="product-name">Iphone X</h3>
                <!-- Product Image -->
                <div class="product-image">
                    <img src="assets/images/products/product-3.png" class="img-fluid">
                </div>
                <!-- Product Description -->
                <p class="product-description">
                    <small>
                        A smartphone is a handheld personal computer with a mobile opeating system and ...
                    </small>
                </p>
                <!-- Product Price -->
                <p class="product-price text-secondary">1009 USD</p>
                <!-- Product Quantity -->
                <p class="product-quantity text-secondary">800 units in stock</p>
                <!-- Product Button -->
                <div class="product-button">
                    <!-- Button Detail -->
                    <a class="product-btn btn-detail" routerLink="/product-detail-screen" routerLinkActive="active">
                        <small>
                            <b>
                                <i class="fas fa-exclamation-circle"></i> Details
                            </b>
                        </small>
                    </a>
                    <!-- Button Order -->
                    <a class="product-btn btn-order" href="#">
                        <small>
                            <b>
                                <i class="fas fa-shopping-cart" style="transform: rotateY(180deg);"></i> Order now
                            </b>
                        </small>
                    </a>
                </div>
            </div>
        </div>
        <!-- Product 4 -->
        <div class="col-md-3 product-item">
            <div class="product">
                <!-- Product Name -->
                <h3 class="product-name">Galaxy S8</h3>
                <!-- Product Image -->
                <div class="product-image">
                    <img src="assets/images/products/product-4.png" class="img-fluid">
                </div>
                <!-- Product Description -->
                <p class="product-description">
                    <small>
                        A smartphone is a handheld personal computer with a mobile opeating system and ...
                    </small>
                </p>
                <!-- Product Price -->
                <p class="product-price text-secondary">699 USD</p>
                <!-- Product Quantity -->
                <p class="product-quantity text-secondary">200 units in stock</p>
                <!-- Product Button -->
                <div class="product-button">
                    <!-- Button Detail -->
                    <a class="product-btn btn-detail" routerLink="/product-detail-screen" routerLinkActive="active">
                        <small>
                            <b>
                                <i class="fas fa-exclamation-circle"></i> Details
                            </b>
                        </small>
                    </a>
                    <!-- Button Order -->
                    <a class="product-btn btn-order" href="#">
                        <small>
                            <b>
                                <i class="fas fa-shopping-cart" style="transform: rotateY(180deg);"></i> Order now
                            </b>
                        </small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>