<div class="top-body">
    <p class="product-header-slogan">Products</p>
    <h3 class="text-secondary">All the selected products in your cart</h3>
</div>
<!-- Products in Cart -->
<div class="container product-list-cart">
    <!-- Button clear and check out -->
    <div class="row">
        <div class="col-md-6 text-left">
            <a class="btn btn-danger" href="#" role="button">
                <b><i class="fas fa-times-circle"></i> Clear Cart</b></a>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-success" href="#" role="button">
                <b><i class="fas fa-shopping-cart" style="transform: rotateY(180deg);"></i> Check Out</b></a>
        </div>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr class="cart-menu">
                <td class="product-name-column">Product</td>
                <td><b>Quantity</b></td>
                <td><b>Unit price</b></td>
                <td><b>Price</b></td>
                <td><b>Action</b></td>
            </tr>
        </thead>
        <tbody>
            <!-- Cart Item -->
            <tr>
                <!-- Item Name -->
                <td class="cart-item-name">
                    <p>Iphone</p>
                </td>
                <!-- Item Quantity -->
                <td class="cart-item-quantity">
                    <p>1</p>
                </td>
                <!-- Item Unit Price -->
                <td class="cart-item-unit-price">
                    <p>1099</p>
                </td>
                <!-- Item Price -->
                <td class="cart-item-price">
                    <p>1099</p>
                </td>
                <td class="cart-item-action">
                    <a class="btn btn-danger cart-btn-remove" href="#" role="button">
                        <b><small>x Remove</small></b></a>
                </td>
            </tr>
            <!-- End a Item -->
            <!-- Cart Item -->
            <tr>
                <!-- Item Name -->
                <td class="cart-item-name">
                    <p>Iphone 8 Plus 64GB PRODUCT RED</p>
                </td>
                <!-- Item Quantity -->
                <td class="cart-item-quantity">
                    <p>1</p>
                </td>
                <!-- Item Unit Price -->
                <td class="cart-item-unit-price">
                    <p>1009</p>
                </td>
                <!-- Item Price -->
                <td class="cart-item-price">
                    <p>1009</p>
                </td>
                <td class="cart-item-action">
                    <a class="btn btn-danger cart-btn-remove" href="#" role="button">
                        <b><small>x Remove</small></b></a>
                </td>
            </tr>
            <!-- End a Item -->
            <!-- Cart Item -->
            <tr>
                <!-- Item Name -->
                <td class="cart-item-name">
                    <p>Galaxy S8</p>
                </td>
                <!-- Item Quantity -->
                <td class="cart-item-quantity">
                    <p>1</p>
                </td>
                <!-- Item Unit Price -->
                <td class="cart-item-unit-price">
                    <p>699</p>
                </td>
                <!-- Item Price -->
                <td class="cart-item-price">
                    <p>699</p>
                </td>
                <td class="cart-item-action">
                    <a class="btn btn-danger cart-btn-remove" href="#" role="button">
                        <b><small>x Remove</small></b></a>
                </td>
            </tr>
            <!-- End a Item -->
            <!-- Total -->
            <tr>
                <td></td>
                <td></td>
                <td>
                    <b>Grand Total</b>
                </td>
                <td>
                    <b>2807</b>
                </td>
                <td></td>
            </tr>
            <!-- Total -->
        </tbody>
    </table>
    <!-- Continue Shoping Button -->
    <div class="continue-shoping-btn">
        <a class="btn btn-success" href="#" role="button" routerLink="/homepage-screen" routerLinkActive="active">
            <b><i class="fas fa-arrow-circle-left"></i> continue shopping</b></a>
    </div>
</div>