<div class="top-body">Mobile Store</div>

<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar class="toolbar-signin">Please sign in</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <mat-form-field appearance="fill">
        <input matInput placeholder="Username" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <input matInput type="password" placeholder="Password" />
      </mat-form-field>
      <button mat-raised-button class="btn-login" type="submit">Login</button>
    </form>
  </mat-card>
</div>
