.main-div mat-card {
  padding: 0px;
  color: antiquewhite;
}
.login-form {
  padding: 20px;
}
.top-body {
  background-color: rgb(238, 238, 238);
  padding: 50px;
  font-size: 50px;
}
.btn-login {
  background-color: rgb(92, 184, 92);
  color: white;
}
.toolbar-signin {
  background-color: rgb(245, 245, 245);
  color: black;
}
